{# TEMPLATE: home page #}

{% extends "base.twig" %}

{% block content %}

	<div
		class="content-wrapper mr-10 ml-7 md:ml-16">
		{# DEFAULT PAGE CONTENT #}
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">

<div class="block lg:hidden">
			<ul class="inline group-hover:block bg-white text-black ml-3 min-[321px]:ml-7 p-4 rounded-xl ">
                                                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-264 font-semibold inline text-black mx-5 text-sm min-[321px]:text-base">
                                <a target="_self" href="http://canberramodern.local/buildings/">Buildings</a>    
                            </li>
</div>
</div>
			<section class="article-content ">
				<h1 class="article-h1 text-4xl font-bold ms:2 me:2 md:ms-4 md:me-4">{{post.title}}</h1>
				<div class="article-body ms:2 me:2 md:ms-4 md:me-4">
					{{post.content}}
				</div>
			</section>
		</article>

		{# BUILDINGS #}
		<section>
			<h2 class = "text-3xl font-bold ms-4 me-4 py-3">Buildings</h2>
			<ul class = "grid grid-cols-1 lg:grid-cols-2 gap-3 pb-10">
				
				{# loop through the buildings returned #}
				{% for building in buildings %}
					{# load the building tease template #}
					{% include 'tease-buildings.twig' with { post: building} %}
				{% endfor %}
				
			</ul>

		</section>
	</div>

	<div
		class="debug p-8 bg-debug hidden">
		{# useful for debugging, delete later #}
		<h1>Debug info</h1>

		<p class="pb-4">post name:
			{{post.name}}</p>

		<p>file name: page-home.twig</p>

		{# Output what is in the post #}
		{# {{dump(post)}} #}
	</div>

	<!-- /content-wrapper -->
{% endblock %}
