{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{ post.post_type }} flex ml-16 pb-5" id="post-{{ post.ID }}">
			<img class="size-4/6" src="{{ post.thumbnail.src}}">
			<section class="article-content ">
				<h1 class="article-h1 pl-5 mt-0">{{ post.title }}</h1>

				<div class="article-body">
					<div class="block pl-5">
					{{post.content}}

					{# this is building specific information, display it how you want #}
					<h3>Risk Status: {{ post.risk_status }}</h3>
					

					<h3>Year: {{ post.year }}</h3>
					
					<h3>Location: {{ post.location }}</h3>
					
					<h3>Suburb: {{ post.suburb }}</h3>
					

					<h3>Architect</h3>
					{# return a list in case there are multiple architects #}
					<ul>
						{% for arch in post.architect %}
							{# this loops through individual entries returned #}
							<li>
								{{arch.name}}
							</li>
						{% endfor %}
					</ul>
</div>
					{# show a map of the location #}
					

				</div>

			</section>
			
		</article>
		<div class="ml-16 mr-10">
		{{ post.geolocation }}
	</div>

	<div
		class="debug p-8 bg-debug hidden">
		{# useful for debugging, delete later #}
		<h1>Debug info</h1>

		<p class="pb-4">post name:
			{{post.name}}</p>

		<p>file name: single-buildings.twig</p>

		{# Output what is in the post #}
		{# {{dump(post)}} #}
	</div>


	<!-- /content-wrapper -->
{% endblock %}
