{# TEMPLATE: SINGLE.twig #}
{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{ post.post_type }} wrapper bg-primary text-white " id="post-{{ post.ID }}">
			<img src="{{ post.thumbnail.src}}">
			<section class="article-content mr-7 ml-7 md:ml-16">
				<h1 class="article-h1">{{ post.title }}</h1>
				<p class="blog-author">
					<time datetime="{{ post.date|date('Y-m-d H:i:s') }}">{{ post.date }}</time>
				</p>
				<div class="article-body md:w-4/5">
					{{post.content}}
				</div>
			</section>


		</article>
	</div>

	<div
		class="debug p-8 bg-debug">
		{# useful for debugging, delete later #}
		<h1>Debug info</h1>

		<p class="pb-4">post name:
			{{post.name}}</p>

		<p>file name: single.twig</p>

		{# Output what is in the post #}
		{# {{dump(post)}} #}
	</div>
	<!-- /content-wrapper -->
{% endblock %}
