{# TEMPLATE: INDIVIDUAL BUILDING #}
{# this is the single building that is looped through on the archive-buildings.twig file #}

	<article class="tease tease-{{post.type}} block md:flex " id="tease-{{post.id}}"> {% block content %}
		
		{% if post.thumbnail %}
		<img class="size-72 md:size-96 object-cover "src="{{post.thumbnail.src}}"/>
	{% endif %}
	<div class="block pl-3">
	<h2 class="h2 text-2xl">
			<a href="{{post.link}}">{{post.title}}</a>
		</h2>

		<br>
		<h3>Risk Status</h3>
		<p>{{ post.risk_status }}</p>
		<p>{{ post.excerpt({ words:10, read_more: "Keep reading &rarr;" }) }}</p>
	</p>
	
	
{% endblock %}</article>
